@media all and (max-width: 1070px) {

    .info_item {
        margin: 25px 15px;
    }
} 

@media all and (max-width: 980px) {

    .info_item {
        width: 100%;
    }

    .info_pur {
        margin: 0px 83px;
    } 

    .info_pur2 {
        margin: 25px 83px;
    }

    .info_item:hover {
        transform: scale(1);   
    }

    .info_charter:hover {
        transform: scale(1);   
    }

    .nav_button {
        visibility: visible;
    }

    .overlay {
        visibility: visible;
    }

    .navigation {
        font-size: 2px;
        visibility: hidden;
    }

}   

@media all and (max-width: 800px) {

    .info { 
        margin: 0px 12px;
    }

    .overlay a {
    font-size: 25px;
    }
}

@media all and (max-width: 650px) {

    .info_pur {
        margin: 0px 40px;
    } 

    .info_pur2 {
        margin: 25px 40px;
    }

    .info_charter {
        width: 100%;
    }

    .overlay a {
        font-size: 20px;
        }
}

@media all and (max-width: 555px) {
    .info_pur {
        flex-direction: column;
    } 

    .info_pur2 {
        flex-direction: column;
    }

    .info_purpose {
        padding: 15px;
        width: 90%;
    }
}

    /*Jets*/

@media all and (max-width: 1280px) {

    .jet_item {
        width: 31%;
    }
}

@media all and (max-width: 930px) {
    
    .jet_item {
        width: 45%;
    }
}

@media all and (max-width: 670px) {
    
    .jet_item {
        width: 100%;
    }

    .jet_about {
        justify-content: space-evenly;
    }
}

/*Jet*/

@media all and (max-width: 1170px) {

    .jet_card {
        flex-direction: column;
    }

    .jet_tittle {
        margin-top: 20px;
    }
}

@media all and (max-width: 900px) {

    .container_card {
        padding: 0px 10px;
    }

}

/* Membership*/

@media all and (max-width: 1072px) {

    .item_membership {
        width: 44%;
    }

}

@media all and (max-width: 810px) {

    .item_membership {
        width: 64%;
    }

}