body {
	padding: 0;
	margin: 0;
    font-family: 'Comfortaa', cursive;
	color: rgb(205, 188, 188);
	font-size: 18px;
    font-weight: 300;
    height: 100%;
    }

* {
    box-sizing: border-box;
    }

a {
    text-decoration: none;
    }


header {
    background-color: #333333DE;
    }

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(255, 255, 255);
}

.logo {
    margin: 0 auto;
}

.auth {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(255, 255, 255);
}

.auth p {
    margin-right: 15px;
}
.mainpage {
    background: url("images/bgc.png") no-repeat center center;
    display: flex;
    background-size: cover!important;
    padding-bottom: 25px;
}

.heading1 {
    text-align: center;
}

.heading1 p {
    margin-bottom: 50px;
    display: block;
    font-size: 36px;
    line-height: 49px;
    color: #fff;
}
